<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/job_portal/styles/base.css">
    <style>
        body {
       font-family: 'Poppins', sans-serif;
   }

    </style>
    {% block extra_css %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

</head>
<body class="font-sans bg-gray-50">

<!-- Main Content -->
<main>
    {% block content %}

    {% endblock %}
</main>
{% block extra_js %}

{% endblock %}
</body>
</html>